<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Yoga with Shelene | Adamantine® |  Altoona - Des Moines, IA</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Seek balance. Discover wellness. Reveal your best self with a customized yoga practice. Shelene Billups, RYT-200.  yogawithshelene@gmail.com | 515-994-0706">
<meta name="keywords" content="Billups, Shelene, yoga, Altoona, Des Moines, Iowa, Adamantine, balance, wellness, personal training, coaching, private yoga sessions, teacher">

<link rel="stylesheet" type="text/css" href="/css/main.css" id="layout">
<link rel="image_src" href="/images/shelene/three.jpg" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/main.js"></script>

</head>
<body style="background-image: url('/images/bg/washi.png');">
<div id="wrapper">
<div class="container ie-dropdown-fix">
	<div id="header">
    <div class="eight columns" style="padding-bottom: 15px;">
			<div id="logo">
        <a href="#"><img src="/images/yogawithshelenelogo.png" alt="logo" /></a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="eight columns">
			<ul class="social-icons">
				<li class="facebook"><a href="https://www.facebook.com/yogawithshelene">Facebook</a></li>
				<li class="twitter"><a href="https://twitter.com/shelenebillups">Twitter</a></li>
			</ul>
			<div class="clear"></div>
			<div id="contact-details">
				<ul>
					<li><i class="mini-ico-envelope"></i><a href="mailto:yogawithshelene@gmail.com">yogawithshelene@gmail.com</a></li>
					<li><i class="mini-ico-user"></i>515-994-0706</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="sixteen columns">
		<div id="navigation">
			<ul id="nav">
        {% assign url = page.url | remove:'/index.html' %}
        <li><a {% if url == "" %} id="current"{% endif %} href="/">Home</a></li>
        <li><a {% if url == "/adamantine" %} id="current"{% endif %} href="#">Adamantine® Yoga</a>
        <ul>
          <li><a href="/adamantine">What is it?</a></li>
          <li><a href="/gsp">Guided Self Practice</a></li>
          <li><a href="/private">Private Sessions</a></li>
          <li><a href="/group">Group Classes</a></li>
        </ul>
        </li>
        <li><a {% if url == "/about" %} id="current"{% endif %} {% if url == "/testimonials" %} id="current"{% endif %} href="#">About</a>
        <ul>
          <li><a href="/about">Meet Shelene</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
        </ul>
        </li>
        <li><a {% if url == "/blog" %} id="current"{% endif %} href="/blog">Blog</a></li>
			</ul>
		</div> 
		<div class="clear"></div>
	</div>
</div>
{{ content }}
<div id="footer">
	<div style="margin-top: -15px; background-color: #303030;" class="container">
		<div class="sixteen columns">
			<div style="margin-top: 0;" id="footer-bottom">
				© Copyright 2013 by <a href="/about/">Shelene Billups</a>. All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>
  </div>
</div>
</body>
</html>
